######################################################################
# Crowsnest camera control (Simple AF pattern)
#
# Requires gcode_shell_command Klipper extra and passwordless sudo:
#   rex ALL=(ALL) NOPASSWD: /usr/bin/systemctl start crowsnest, /usr/bin/systemctl stop crowsnest
######################################################################

[gcode_shell_command systemctl]
command: sudo /usr/bin/systemctl
timeout: 15.0
verbose: False

[gcode_macro STOP_CAMERA]
description: Stop crowsnest streamer (e.g. during mesh scan)
gcode:
    RUN_SHELL_COMMAND CMD=systemctl PARAMS="stop crowsnest"
    SET_GCODE_VARIABLE MACRO=START_CAMERA VARIABLE=started VALUE=False
    M400

[gcode_macro START_CAMERA]
variable_started: True
description: Start crowsnest streamer
gcode:
    RUN_SHELL_COMMAND CMD=systemctl PARAMS="start crowsnest"
    SET_GCODE_VARIABLE MACRO=START_CAMERA VARIABLE=started VALUE=True
    M400
