######################################################################
# Sovol Zero  -  UC1701 display menus
#
# Include after Rex_Macros.cfg (uses FRONT_AND_CENTER, chamber LED macros).
# SET_DISPLAY_TEXT is provided by Klipper [display_status]  -  do not redefine.
#
# Network IP on the status line (optional) and Setup -> Network require network_status:
#   ~/Rex-Sovol-Zero-Mainline/scripts/install-network-status.sh
# IP on idle line is off by default; toggle in Setup -> Network -> Show IP.
# Persists via [save_variables] in printer.cfg (show_ip in ~/variables.cfg).
######################################################################

[network_status]
interval: 30


# -------------------------------------------------------------------
# Idle status line: optional IP (off by default; UC1701 row is 16 chars max)
# -------------------------------------------------------------------
[display_data _default_16x4 print_status]
position: 3, 0
text:
  {% if printer.display_status.message %}
    { printer.display_status.message }
  {% elif printer.idle_timeout.printing_time %}
    {% set pos = printer.toolhead.position %}
    { "X%-4.0fY%-4.0fZ%-5.2f" % (pos.x, pos.y, pos.z) }
  {% elif (printer.save_variables.variables.show_ip|default(0)|int == 1) and ('network_status' in printer) %}
    {% set ip = printer.network_status.ethip if printer.network_status.ethip != 'N/A' else printer.network_status.wifiip %}
    { ip }
  {% else %}
    Ready
  {% endif %}


# -------------------------------------------------------------------
# Chamber icon (16x16, matches bed / extruder glyphs)
# -------------------------------------------------------------------
[display_glyph chamber]
data:
  ................
  ................
  ****************
  ****************
  **............**
  ****************
  ****************
  **...**.......**
  **...**.......**
  **............**
  **..********..**
  **..********..**
  **..**....**..**
  **..**....**..**
  ****************
  ................


[display_glyph filament]
data:
  ................
  ..........**....
  .........**.....
  .......**.......
  .......**.......
  .......**.......
  ...**..**..****.
  ...**..**..****.
  ...**..**..****.
  ...**..**..****.
  ...**..**..****.
  .......**.......
  .......**.......
  ......****......
  .......**.......
  ................


# -------------------------------------------------------------------
# Row 0 right: filament icon + Yes / No (above chamber on row 1)
# -------------------------------------------------------------------
[display_template _filament_status]
text:
  {% if 'filament_switch_sensor filament_sensor' in printer %}
    {% set fs = printer['filament_switch_sensor filament_sensor'] %}
    ~filament~ {% if fs.enabled and fs.filament_detected %}Yes{% else %}No{% endif %}
  {% endif %}

[display_data _default_16x4 fan]
position: 0, 10
text: { render("_filament_status") }


# -------------------------------------------------------------------
# Row 1 right: chamber icon + temp (16x16 glyph = 2 cols, like bed row)
# -------------------------------------------------------------------
[display_template _chamber_temperature]
text:
  {% if 'temperature_sensor chamber_temp' in printer %}
    ~chamber~ { "%2.0f" % printer["temperature_sensor chamber_temp"].temperature }~degrees~
  {% endif %}

[display_data _default_16x4 speed_factor]
position: 1, 10
text: { render("_chamber_temperature") }


# -------------------------------------------------------------------
# Hide stock Klipper OctoPrint menu (Mainsail/Moonraker use PAUSE etc.)
# Optional OctoPrint controls are in the commented block at file end.
# -------------------------------------------------------------------
[menu __main __octoprint]
type: list
enable: {False}
name: OctoPrint


# -------------------------------------------------------------------
# Control  -  quick maintenance at top of submenu
# -------------------------------------------------------------------
[menu __main __control __front_center]
type: command
index: 0
enable: {not printer.idle_timeout.state == "Printing"}
name: Front And Center
gcode:
    {menu.exit()}
    FRONT_AND_CENTER

[menu __main __control __clean_nozzle]
type: command
index: 1
enable: {not printer.idle_timeout.state == "Printing"}
name: Clean Nozzle
gcode:
    {menu.exit()}
    CLEAN_NOZZLE


# -------------------------------------------------------------------
# Temperature  -  chamber preheat at top of submenu
# -------------------------------------------------------------------
[menu __main __temp __chamber_preheat]
type: command
index: 0
enable: {not printer.idle_timeout.state == "Printing"}
name: Chamber Preheat
gcode:
    {menu.exit()}
    START_CHAMBER_PREHEAT CHAMBER=50

[menu __main __temp __stop_preheat]
type: command
index: 1
enable: {not printer.idle_timeout.state == "Printing"}
name: Stop Preheat
gcode:
    {menu.exit()}
    STOP_CHAMBER_PREHEAT


# -------------------------------------------------------------------
# Filament  -  60 mm load / unload (stock Klipper default is 50 mm)
# -------------------------------------------------------------------
[menu __main __filament __loadf]
type: command
name: Load Fil. fast
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E60 F960
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __loads]
type: command
name: Load Fil. slow
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E60 F240
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __unloadf]
type: command
name: Unload Fil.fast
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E-60 F960
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __unloads]
type: command
name: Unload Fil.slow
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E-60 F240
    RESTORE_GCODE_STATE NAME=__filament__load


# -------------------------------------------------------------------
# Display knob: reverse menu scroll (pin swap alone is not enough on Zero)
# -------------------------------------------------------------------
[display]
menu_reverse_navigation: True


# -------------------------------------------------------------------
# Prepare -> Calibration
# -------------------------------------------------------------------
[menu __main __prepare __calibration]
type: list
name: Calibration

[menu __main __prepare __calibration __loadcell_z]
type: command
name: Load Cell Z Touch
gcode:
    {menu.exit()}
    BED_LOADCELL_Z_OFFSET

[menu __main __prepare __calibration __probe_lc]
type: command
name: Test Load Cell
gcode:
    {menu.exit()}
    PROBE_LOAD_CELL

[menu __main __prepare __calibration __eddy_prep]
type: command
name: Eddy Cal Prep
gcode:
    {menu.exit()}
    EDDY_CALIBRATE_PREP

[menu __main __prepare __calibration __eddy_lc_cal]
type: command
name: Eddy Cal (Load Cell)
gcode:
    {menu.exit()}
    EDDY_CALIBRATE_LOADCELL

[menu __main __prepare __calibration __axis_twist]
type: command
name: Axis Twist Cal
gcode:
    {menu.exit()}
    AXIS_TWIST_COMPENSATION_CALIBRATE


# -------------------------------------------------------------------
# Setup -> Shutdown (cool hotend, then power off CB1 host)
# -------------------------------------------------------------------
[gcode_macro KILL_HOST]
gcode:
    {action_call_remote_method("shutdown_machine")}

[gcode_macro SHUTDOWN]
gcode:
    M117 Shutdown cooling
    M84
    M104 s0
    M140 s0
    {% if (printer.extruder.temperature > 70) %}
        SET_FAN_SPEED FAN=part_cooling_fan SPEED=1.0
        SET_FAN_SPEED FAN=rear_auxiliary_fan SPEED=1
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM=0 MAXIMUM=70
    {% endif %}
    SET_FAN_SPEED FAN=part_cooling_fan SPEED=0
    SET_FAN_SPEED FAN=rear_auxiliary_fan SPEED=0
    M117 Turn off now
    SET_PIN PIN=main_led VALUE=1.00
    G4 P500
    SET_PIN PIN=main_led VALUE=0.00
    G4 P500
    SET_PIN PIN=main_led VALUE=1.00
    G4 P500
    SET_PIN PIN=main_led VALUE=0.00
    G4 P500
    SET_PIN PIN=main_led VALUE=1.00
    G4 P500
    SET_PIN PIN=main_led VALUE=0.00
    G4 P500
    KILL_HOST

[menu __main __setup __shutdown]
type: command
name: Shutdown
gcode:
    {menu.exit()}
    SHUTDOWN


# -------------------------------------------------------------------
# Tune  -  save load cell Z offset
# -------------------------------------------------------------------
[menu __main __tune __save]
type: list
name: Save & Exit?

[gcode_macro END_PRINT_G]
description: End print from display; save load cell Z offset if flagged
gcode:
    END_PRINT
    {% if printer['gcode_macro _SAVE_Z_LATER'].save_conf == 'yes' %}
        Z_OFFSET_APPLY_PROBE1
        SAVE_CONFIG
        SET_GCODE_VARIABLE MACRO=_SAVE_Z_LATER VARIABLE=save_conf VALUE="'no'"
    {% endif %}

[gcode_macro _SAVE_Z_LATER]
variable_save_conf: 'no'
gcode:
    SET_GCODE_VARIABLE MACRO=_SAVE_Z_LATER VARIABLE=save_conf VALUE="'yes'"
    M117 Do SAVE_CONFIG

[menu __main __tune __just_save]
type: command
name: End-Save Z-offs
gcode:
    {menu.exit()}
    _SAVE_Z_LATER

[menu __main __tune __show_move_z]
type: input
name: Current Z={'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: 0
input_max: {printer.toolhead.axis_maximum.z}
input_step: 10.0
gcode:
    SAVE_GCODE_STATE NAME=__move__axis
    G1 Z{menu.input}
    RESTORE_GCODE_STATE NAME=__move__axis

[menu __main __tune __save __end_save]
type: command
name: End Print + Save Z
gcode:
    {menu.exit()}
    END_PRINT_G

[menu __main __tune __apply_z]
type: command
name: Save Z Offset Now
gcode:
    {menu.exit()}
    Z_OFFSET_APPLY_PROBE1
    SAVE_CONFIG


# -------------------------------------------------------------------
# Setup -> Network (scroll long lines with encoder while highlighted)
# -------------------------------------------------------------------
[menu __main __setup __network]
type: list
enable: {'network_status' in printer}
name: Network

[menu __main __setup __network __show_ip]
type: command
enable: {'network_status' in printer}
name: {"Show IP: %s" % ('ON' if printer.save_variables.variables.show_ip|default(0)|int else 'OFF')}
gcode:
    {% if printer.save_variables.variables.show_ip|default(0)|int == 1 %}
        SAVE_VARIABLE VARIABLE=show_ip VALUE=0
        M117 IP display off
    {% else %}
        SAVE_VARIABLE VARIABLE=show_ip VALUE=1
        M117 IP display on
    {% endif %}

[menu __main __setup __network __ethip]
type: command
enable: {'network_status' in printer}
name: {"Eth: %s" % printer.network_status.ethip}
gcode:
    M117 Eth {printer.network_status.ethip}

[menu __main __setup __network __wifiip]
type: command
enable: {'network_status' in printer}
name: {"WiFi: %s" % printer.network_status.wifiip}
gcode:
    M117 WiFi {printer.network_status.wifiip}

[menu __main __setup __network __wifissid]
type: command
enable: {'network_status' in printer}
name: {"SSID: %s" % printer.network_status.wifissid}
gcode:
    M117 {printer.network_status.wifissid}

[menu __main __setup __network __wifisignal]
type: command
enable: {'network_status' in printer}
name:
  {% if printer.network_status.wifisignal != 'N/A' %}
    {"Sig: %s dBm %s" % (printer.network_status.wifisignal, printer.network_status.wifibars)}
  {% else %}
    Signal: N/A
  {% endif %}
gcode:
    {% if printer.network_status.wifisignal != 'N/A' %}
        M117 {printer.network_status.wifibars} {printer.network_status.wifisignal}dBm
    {% else %}
        M117 WiFi signal N/A
    {% endif %}

[menu __main __setup __network __mdns]
type: command
enable: {'network_status' in printer}
name: {"mDNS: %s" % printer.network_status.mdns}
gcode:
    M117 {printer.network_status.mdns}


# -------------------------------------------------------------------
# Setup -> Chamber LED (main_led interior strip)
# -------------------------------------------------------------------
[menu __main __setup __lights]
type: list
enable: {'output_pin main_led' in printer}
name: Chamber LED

[menu __main __setup __lights __on]
type: command
enable: {'output_pin main_led' in printer}
name: LED On
gcode:
    {menu.exit()}
    CHAMBER_LED_ON

[menu __main __setup __lights __off]
type: command
enable: {'output_pin main_led' in printer}
name: LED Off
gcode:
    {menu.exit()}
    CHAMBER_LED_OFF

[menu __main __setup __lights __brightness]
type: input
enable: {'output_pin main_led' in printer}
name: {"Bright:%3.0f" % (menu.input*100)}%
input: {printer['output_pin main_led'].value}
input_min: 0.0
input_max: 1.0
input_step: 0.05
gcode:
    SET_PIN PIN=main_led VALUE={menu.input}


# -------------------------------------------------------------------
# OPTIONAL  -  stock Klipper / Sovol OEM OctoPrint display controls
#
# For OctoPrint (or plugins that listen for action:pause/resume/cancel).
# Not used with Mainsail/Moonraker  -  use PAUSE / RESUME / CANCEL_PRINT instead.
#
# To enable:
#   1. Comment out the [menu __main __octoprint] hide block near the top of this file.
#   2. Uncomment the four sections below.
#   3. FIRMWARE_RESTART
# -------------------------------------------------------------------
#
# [menu __main __octoprint]
# type: list
# name: OctoPrint
#
# [menu __main __octoprint __pause]
# type: command
# enable: {printer.idle_timeout.state == "Printing"}
# name: Pause printing
# gcode:
#     {action_respond_info('action:pause')}
#
# [menu __main __octoprint __resume]
# type: command
# enable: {not printer.idle_timeout.state == "Printing"}
# name: Resume printing
# gcode:
#     {action_respond_info('action:resume')}
#
# [menu __main __octoprint __abort]
# type: command
# enable: {printer.idle_timeout.state == "Printing"}
# name: Abort printing
# gcode:
#     {action_respond_info('action:cancel')}
